IM14BE/AD8232-ImgA-for-flash/*
IM14BE/AD8232-OAD-ImgA/*
IM14BE/AD8232-OAD-ImgB/*
IM14BE/E9624-ImgA-for-flash/*
IM14BE/E9624-OAD-ImgA/*
IM14BE/E9624-OAD-ImgB/*
IM14BEA/PIC16F1788/ecg_buffer_mgr.X/build/*
IM14BEA/PIC16F1788/ecg_buffer_mgr.X/debug/*
IM14BEA/PIC16F1788/ecg_buffer_mgr.X/dist/*
IM14BEA/PIC16F1788/ecg_buffer_mgr.X/funclist
IM14BEA/PIC16F1788/ecg_buffer_mgr.X/l.obj
IM14BEA/nRF51822/ble_app_ecg/gcc/_build/*
IM14BEA/nRF51822/ble_app_ecg/gcc/Makefile.custom
IM14BEA/nRF51822/bootloader/gcc/_build/*
IM14BEA/nRF51822/bootloader/gcc/Makefile.custom
iQo/IQ14BLW/nrf51/s130_demo_app/gcc/_build/*
iQo/IQ14BLW/nrf51/s130_demo_app/gcc/Makefile.custom
