iMo/IM14BE/AD8232-ImgA-for-flash/*
iMo/IM14BE/AD8232-OAD-ImgA/*
iMo/IM14BE/AD8232-OAD-ImgB/*
iMo/IM14BE/E9624-ImgA-for-flash/*
iMo/IM14BE/E9624-OAD-ImgA/*
iMo/IM14BE/E9624-OAD-ImgB/*
iMo/IM14BEA/PIC16F1788/ecg_buffer_mgr.X/build/*
iMo/IM14BEA/PIC16F1788/ecg_buffer_mgr.X/debug/*
iMo/IM14BEA/PIC16F1788/ecg_buffer_mgr.X/dist/*
iMo/IM14BEA/PIC16F1788/ecg_buffer_mgr.X/funclist
iMo/IM14BEA/PIC16F1788/ecg_buffer_mgr.X/l.obj

iMo/IM14BEA/nRF51822/ble_app_ecg/gcc/_build/*
iMo/IM14BEA/nRF51822/ble_app_ecg/gcc/Makefile.custom
iMo/IM14BEA/nRF51822/bootloader/gcc/_build/*
iMo/IM14BEA/nRF51822/bootloader/gcc/Makefile.custom
iQo/IQ14BLW/nrf51/s130_demo_app/gcc/_build/*
iQo/IQ14BLW/nrf51/s130_demo_app/gcc/Makefile.custom
iDo/ID14TB/hts/_old_iDo-OAD-ImgA/*
iDo/ID14TB/hts/_old_iDo-OAD-ImgB/*
iDo/ID14TB/hts/_old_iDo-ImgA-for-flash/*
iDo/ID14TB/hts/iDo-OAD-ImgA/*
iDo/ID14TB/hts/iDo-OAD-ImgB/*
iDo/ID14TB/hts/iDo-ImgA-for-flash/*
iDo/ID14TB/hts/iDo.dep
iDo/ID14TB/hts/iDo.ewd
iDo/ID14TB/hts/iDo.ewp
iDo/ID14TB/hts/iDo.eww
iDo/ID14TB/hts/settings/iDo.wsdt
iDo/ID14TB/BIM_custom_dn/cc254x/CC254xF256/*
iDo/ID14TBA/ble_app_hts/gcc/_build/*
iDo/ID14TBA/ble_app_hts/gcc/Makefile.custom
iDo/ID14TBA/bootloader/gcc/_build/*
iDo/ID14TBA/bootloader/gcc/Makefile.custom
iMo/IM14BEA_dialog/With_PIC/da14580.X/build/*
iMo/IM14BEA_dialog/With_PIC/da14580.X/debug/*
iMo/IM14BEA_dialog/With_PIC/da14580.X/dist/*
iMo/IM14BEA_dialog/With_PIC/da14580.X/funclist
iMo/IM14BEA_dialog/With_PIC/da14580.X/l.obj
.gitignore.bak
*.bak
